# Server Configuration
PORT=3000
NODE_ENV=development
BASE_URL="URL for webhooks"  # This should be a production URL. (e.g Use ngrok to get a production URL)

# Twilio Configuration
TWILIO_ACCOUNT_SID="your twilio account sid"
TWILIO_AUTH_TOKEN="your twilio auth token"
TWILIO_PHONE_NUMBER="your twilio phone number"

# Deepgram Configuration
DEEPGRAM_API_KEY="your deepgram api key"

# ElevenLabs Configuration
ELEVENLABS_API_KEY="your elevenlabs api key"

# MongoDB Configuration
MONGODB_URI="your mongodb uri"
# Logging Configuration
LOG_LEVEL=debug

# Medication Configuration
MEDICATION_LIST=Aspirin,Cardivol,Metformin 